<h1>Step 2</h1>
<div class="row">
    <div class="col-sm-11">

        <app-auto-filter-dropdown [inputArray$]="categories$" (inputSelectionChange)="updateCategories($event)" placeholder="Select category"></app-auto-filter-dropdown>
        <app-auto-filter-dropdown *ngIf="subcategories$ | async" [inputArray$]="subcategories$" [(inputSelection)]="selectedSubcategory" placeholder="Select subcategory"></app-auto-filter-dropdown>

        <select #difficulty id="difficultySelect">
            <option>Select difficulty</option>
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
        </select>
        <button class="primary" id="createBtn" (click)="createQuiz(difficulty.value)">Create</button>
    </div>

</div>
<div class="row">
    <app-quiz [questions]="questions$ | async"></app-quiz>
</div>